.searchForm{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.search{
  width: 500px;
}
.searchBar:focus{
  color:#2A2F4F;
  /* background-color: #3C486B; */
  border-color: #3C486B;
  box-shadow: 0 0 0 .25rem #3C486B
  
}
.searchButton{
  width: 300px;
  font-weight: bold;
  background-color: #3C486B;
  border: none;
}
.searchButton:hover{
  background-color: #2A2F4F;
}
.Home{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}