nav {
  /* font-family: 'Oleo Script Swash Caps', cursive; */
  /* font-family: 'Vina Sans',cursive; */
  /* font-family: 'Teko', sans-serif; */
  /* font-family: 'Rancho', cursive; */
  /* font-family: 'Rubik Distressed', cursive; */
  /* font-family: 'Yatra One', cursive; */
}

.join {
  background-color: #362FD9;
  color: white;
  padding-top: 0px;
  padding-bottom: 0px;
}

.join:hover {
  background-color: #362FD9;
  color: white;


}

.joinLink {
  color: white;


}

.joinLink:hover {
  color: white;


}